//COLORS

$Cyan: hsl(179, 62%, 43%);
$Bright-Yellow: hsl(71, 73%, 54%);
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);
$White:#fff;

//UI

$background-body: $Light-Gray;
$background-two: $Cyan;
$background-three:$White;
$background-link: $Bright-Yellow;

$color-white:$White;
$color-text-main:$Light-Gray;
$color-text-dark:$Grayish-Blue;
$color-heading-h1:$Cyan;
$color-heading-h2:$Bright-Yellow